body{
    background-color: rgb(190, 190, 190);
}

.logo{
    height: 10vh;
}



/* .navBar-container{
    padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}

.logo{
    height: 9vh;
    width: 9vh;
}

.navBar{
    text-align: center;
    font-size: 1.2rem;
}

.navBar-item{
    text-decoration: none;
    margin-right: 2rem;
    color: rgb(248, 215, 215);
}
 */

 /* @media (min-width: 578px){

    } */



